body {
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

.container {
    width: 88%;
    margin: auto;
    max-width: 900px;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.landing {
    background-image: url("../img/ha_front2.jpg");
    height: 100vh;
    background-color: aqua;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

nav {
    **text-align: center;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

nav img {
    width: 100px;
}

nav a {
    margin: 5px 10px;
    text-decoration: none;
    color: white;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 500;

}

nav a:hover {
    color: #ffb300;
    **border-bottom: 1px solid #eb8d00;
    text-decoration: underline;
}

.fa-bars {
    display: none;
    color: #ffb300;
    line-height: 25px;
    font-size: 25px;
    text-shadow: 1px 1px  black

}

.baltas {
    background: rgba(255, 255, 255, 0.5);
    background-size: cover;
    padding: 40px;
}


.history {
    padding: 0px;
    **background-image: url("../img/road2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.fonas {
    background-image: url("../img/road2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.fa-history {
    color: #eb8d00;
    margin-left: 10px;
    font-size: 20px;
    line-height: 30px;
}

.fa-road {
    color: #eb8d00;
    margin-left: 10px;
    font-size: 20px;
    line-height: 30px;
}

.history h4 {
    font-size: 20px;
    color: white;
}

.history p {
    font-size: 12px;
    margin: 10px 0 20px 0;
    color: white;
    **text-shadow: 1px 1px grey;
    text-align: justify;
}

.virsus,
.vidurys {
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.column1 {
    width: 60%;
    background-color: aqua;
    font-size: 0px;
}

.column2 {
    align-items: flex-end;
    **border: 1px dashed red;
    width: 40%;
    **align-self: flex-start;
    font-size: 0px;
}

.virsus .nuotrauka {
    display: inline-block;
    **border: 1px dashed red;
    position: relative;
    font-size: 0px;
    
}

.virsus .nuotrauka2 {
    display: inline-block;
    **border: 1px dashed red;
    position: relative;
    font-size: 0px;
    width: 100%;

}

.nuotrauka {
    display: inline-block;
    **border: 1px dashed red;
    position: relative;
    font-size: 0px;
    width: 100%;
}

img {
    width: 100%;
}

.virsus .column1 img {
    filter: grayscale(100%);
}

.ikontext {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    z-index: 1;
    font-size: 30px;
    border: 2px solid white;
    transform: translate(-50%, -50%);
    padding: 5px;
}

.ikontext p {
    font-weight: 500;
    font-size: 20px
}

.textblock {
    padding: 10px;

    margin: 0;
    **align-self: flex-start;

}

.textblock p {
    font-size: 13px;
    color: dimgrey;
    text-align: justify;
    margin: 3px 3px 25px 3px;
}

h2 {
    font-size: 10px;
    text-shadow: 1px 1px grey;
    color: dimgray;
    display: none;
}

.dakar {
    width: 40px;
    margin: 0 0;
}


.vidurys .column1 p {
    font-size: 15px;
    margin: 5px 10px;
}







@media(max-width: 960px) {
    .textblock p {
        font-size: 11px;
        color: dimgrey;
        text-align: justify;
        margin: 3px 3px 9px 3px;
    }
}

@media(max-width: 825px) {
    .textblock p {
        font-size: 11px;
        color: dimgrey;
        text-align: justify;
        margin: 3px 3px 90px 3px;
    }
    .column2 .nuotrauka {
        display: none;
    }
    .vidurys .ikontext p{
        font-size: 12px;
    }

}

@media(max-width: 600px) {

    .textblock p {
        font-size: 11px;
        color: dimgrey;
        text-align: justify;
        margin: 3px 3px 9px 3px;
    }

    .column2 .nuotrauka {
        display: none;
    }

    .fa-bars {
        display: block;
        float: right;
    }

    nav a {
        display: none;
    }

    .virsus,
    .vidurys {
       
        flex-direction: column;
       
    }

    .column1,
    .column2 {
        width: 100%;
    }

    .virsus .column1 {
        order: 2;
    }

    .container {
        width: 100%;
    }

    .baltas {
        padding: 15px
    }
    .vidurys .ikontext p{
        font-size: 12px;
    }

}











oi
